<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div>
      <header>
          <!-- Header code goes here -->
          <div class="header">
  
            <img id="logo" src="" alt="logo" />
          <h1 id="appname"> SLDL Creator- Finance Full Suit</h1>
          </div>
      </header>
      <div>
          <!-- Main login block -->

      </div>

      <div id="footer">
        <hr>
<footer>
    <img id="logo" src="" alt="logo" />
   <a href="About">About</a>
   <a href="info.com">Instructions</a>
   



   <a href="tt.com">Encountered an issue?</a>  
</footer>
</div>
</body>
</html>